In [13]:
#import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
df_s=pd.read_csv("Add_sales_data_2018.csv")

In [4]:
#Information about datafarmes
df_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  205 non-null    object
 1   Add1(in Thousands)    205 non-null    float64
 2   Add2(in Thousands)    205 non-null    float64
 3   Add3(in Thousands)    205 non-null    float64
 4   Add4(in Thousands)    205 non-null    float64
 5   Add5(in Thousands)    205 non-null    float64
 6   Profit(in Thousands)  205 non-null    float64
dtypes: float64(6), object(1)
memory usage: 11.3+ KB

.1.First of all, check whether there is any relationship between the amount
spent for advertising through five different companies and profit
generated

In [5]:

df_s.head()

,Date,Add1(in Thousands),Add2(in Thousands),Add3(in Thousands),Add4(in Thousands),Add5(in Thousands),Profit(in Thousands)
0,2018-10-08,208.00,222.25,206.85,216.00,215.15,4093.065
1,2018-10-05,217.00,218.60,205.90,210.25,209.20,4042.448
2,2018-10-04,223.50,227.80,216.15,217.25,218.20,4213.819
3,2018-10-03,230.00,237.50,225.75,226.45,227.60,4391.665
4,2018-10-01,234.55,234.60,221.05,230.30,230.90,4350.683

In [6]:
#We need to findout the relationship between  the amount spent for advertising through five different companies and profit generated
df_s.corr()#Pearson correlation
#From the following table we can understand that  the amount spent for advertising through five different companies is highly correlated with profit of a company.

,Add1(in Thousands),Add2(in Thousands),Add3(in Thousands),Add4(in Thousands),Add5(in Thousands),Profit(in Thousands)
Add1(in Thousands),1.000000,0.990976,0.986274,0.976365,0.976716,0.991975
Add2(in Thousands),0.990976,1.000000,0.987990,0.989921,0.990285,0.999145
Add3(in Thousands),0.986274,0.987990,1.000000,0.991343,0.991908,0.993389
Add4(in Thousands),0.976365,0.989921,0.991343,1.000000,0.999699,0.993346
Add5(in Thousands),0.976716,0.990285,0.991908,0.999699,1.000000,0.993710
Profit(in Thousands),0.991975,0.999145,0.993389,0.993346,0.993710,1.000000

2.Build a regression model to predict the profit from the given data and
comment your findings on it.

In [16]:
#we create X with independent variables only,Y is dependent variable.
X=df_s.drop(['Profit(in Thousands)','Date'],axis=1)
Y=df_s['Profit(in Thousands)']

In [17]:
#Divide the data into train and test dataset
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=101)

Creating model

Fit/Train the Model on the training data
Make sure you only fit to the training data, in order to fairly evaluate your model's performance on future data

In [18]:
#Create an instance of the model with parameters
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [19]:
test_predictions = model.predict(X_test)

In [20]:
test_predictions

array([5182.368, 5903.253, 6101.648, 5227.886, 5577.15 , 5518.561,
       4821.542, 4898.776, 4480.363, 4461.325, 5108.626, 5075.858,
       5057.155, 5065.652, 5177.61 , 5038.222, 4923.127, 5805.521,
       4617.695, 4836.837, 4432.864, 4453.205, 5019.997, 4671.113,
       5465.277, 4599.49 , 4548.11 , 5312.74 , 5962.336, 5111.806,
       4436.321, 4760.877, 5439.655, 4213.819, 4464.11 , 5616.186,
       4647.356, 4523.704, 5131.898, 4506.279, 4566.31 , 5017.503,
       5113.337, 6137.8  , 5318.1  , 4175.677, 4676.653, 5190.758,
       4934.682, 5421.842, 4190.965, 5088.455, 5216.436, 4350.683,
       4152.066, 4042.448, 4672.391, 5728.804, 5910.98 , 4446.441,
       5384.175, 4435.816])

3.Predict the profit generated by the company, if they wish to spend the 
following amount for advertisement

In [29]:
newvalues=np.array([290,312,309,298,320])
new1=newvalues.reshape(1,-1)

In [30]:
test_predictions = model.predict(new1)

C:\Users\Josmy\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [31]:
test_predictions

array([5820.06])